
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url("./weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
    height: 92vh;

}
.weeather-App{
    max-width: 600px;
    margin: 50px auto;
    padding :30px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.5);/*  transparancy*/
}
.search-form{
    display: flex;
    align-items: center;
}
input[type="text"]{
    flex: 1;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius:15px ;
    font-size:2rem ;
    height: 1.5rem;
    outline: none;
}
.city-input{

}
.search-btn{
    background-color: #3498db;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    margin-left: 15px;
    transition: background-color 0.3s ease;
}
.search-btn:hover{
    background-color: #2380b9;
}
.city-date-section{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
gap: 10px;
}
.city-date-section .city{
font-size: 2rem;
opacity: 0.9;

}
.city-date-section .date{
    padding: 5px 10px;
    border-radius: 15px;
}
.temprature-info{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.temprature-info .temp{
    font-size: 4rem;

}

.temprature-info .discription
{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.temprature-info .discription i{
    font-size: 2rem;

}
.temprature-info .discription span{
    font-size: 1.5rem;
}
.additional-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.wind-info,.humidity-info,.visibility-info{
    background-color: rgba(236, 240, 241, 0.5);
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: rgba(0,0,0,0.25) 0px 3px 8px;

}
.material-icons{
    font-size: 3rem !important;
    opacity: 0.8;
}
.wind-info div,
.humidity-info div,
.visibility-info div{
    text-align: center;
}
